/TestResults
/OutWardCommonControl/Service References
/OutWardCommonControl/bin/Release
/OutWardCommonControl/bin/Debug
/OutWardCommonControl/obj
/OutWardControl/bin/Release
/OutWardControl/bin/Debug
/OutWardControl/obj
/OutWardLib/bin/Release
/OutWardLib/bin/Debug
/OutWardLib/obj
/OutWardModel/obj
/OutWardModel/bin/Release
/OutWardModel/bin/Debug
/OutWardUserControl/bin/Release
/OutWardUserControl/bin/Debug
/OutWardUserControl/obj
/HiCSCommonControl/obj
/HiCSCommonControl/bin
/HiCSControl/obj
/HiCSControl/bin
/HiCSFormTest/obj
/HiCSFormTest/bin
/HiCSModel/obj
/HiCSModel/bin
/HiCSProvid/obj
/HiCSProvid/bin
/HiCSUserControl/obj
/HiCSUserControl/bin
/HiCSRestAPI/obj
/HiCSRestAPI/bin
/HiCSUIHelper/bin
/HiCSUIHelper/obj
/HiCSProvider/obj
/HiCSProvider/bin
/HiCSProvider
/HiUIFormTest/obj
/HiUIFormTest/bin
/HiCSWebService/obj
/HiCSWebService/bin
