<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HiCSUserControl.Config.View" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            
        </sectionGroup>
    </configSections>
    <userSettings>
        <HiCSUserControl.Config.View>
            <setting name="Setting" serializeAs="String">
                <value>121</value>
            </setting>
            <setting name="UserLoginModule_DGV" serializeAs="String">
                <value>
              [
              {
              "ColumnID":"UserName",
              "ColumnText":"UserName",
              "ColumnName":"UserName",
              "WidthPercent":100,
              "Align":"center",
              "IsShow":1
              },
              {
              "ColumnID":"UserID",
              "ColumnText":"",
              "ColumnName":"UserID",
              "WidthPercent":0,
              "Align":"center",
              "IsShow":0
              }
              ]
            </value>
            </setting>
            <setting name="UserLogin_ControlInfo" serializeAs="String">
                <value>
              [{"ID":"Name","CanNull":"false","Reg":"","Err":"名称不允许为空，请填写"},
              {"ID":"PWD","CanNull":"false","Reg":"","Err":"密码不允许为空，请填写"}]
            </value>
            </setting>
            <setting name="ProcessMaterial_DGV" serializeAs="String">
                <value>
                  [
                  {
                  "ColumnID":"Name",
                  "ColumnText":"名称",
                  "ColumnName":"Name",
                  "WidthPercent":30,
                  "Align":"left",
                  "IsShow":1
                  },
                  {
                  "ColumnID":"Model",
                  "ColumnText":"型号",
                  "ColumnName":"Model",
                  "WidthPercent":30,
                  "Align":"left",
                  "IsShow":1
                  },
                  {
                  "ColumnID":"Count",
                  "ColumnText":"数量",
                  "ColumnName":"Count",
                  "WidthPercent":10,
                  "Align":"left",
                  "IsShow":1
                  },
                  {
                  "ColumnID":"Other",
                  "ColumnText":"操作",
                  "ColumnName":"",
                  "WidthPercent":30,
                  "Align":"left",
                  "IsShow":1
                  },
                  {
                  "ColumnID":"ProductID",
                  "ColumnText":"",
                  "ColumnName":"ProductID",
                  "WidthPercent":0,
                  "Align":"center",
                  "IsShow":0
                  },
                  {
                  "ColumnID":"ProcessId",
                  "ColumnText":"",
                  "ColumnName":"ProcessId",
                  "WidthPercent":0,
                  "Align":"center",
                  "IsShow":0
                  },
                  {
                  "ColumnID":"MaterialID",
                  "ColumnText":"",
                  "ColumnName":"MaterialID",
                  "WidthPercent":0,
                  "Align":"center",
                  "IsShow":0
                  }
                  ]
                </value>
            </setting>
        </HiCSUserControl.Config.View>
    </userSettings>
</configuration>